body{ background-color: pink;
}

header {font-size: 40px; padding: 20px; font-weight: bold; background-color: magenta; text-align: center;}
nav {padding: 20px; background-color: gold;}
nav { text-align: center; }
main {padding: 20px; background-color: blue; text-align: center; color: white; font-style: italic; font-size: 30px;}
footer {padding: 20px; background-color: gray;}

div.wrapper{width:850px;
  padding: 30px;
	font-size: 20px;
  margin-left: auto;
  margin-right: auto;}


  a{background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;}


  a:hover{background-color: gray;}

  img.space-below{margin-bottom: 50px;}
