body {background-color: maroon;}
header {padding: 20px; background-color: teal;}
nav {padding: 20px; background-color: goldenrod;}
main {padding: 20px; background-color: white;}
footer {padding: 20px; background-color: teal;}
div.wrapper{
  width: 800px;
  background-color:gray;
  margin-left: auto;
  margin-right: auto;
}

nav { text-align: center; }


a.menulink{background-color:purple;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;}

a.menulink:hover{background-color: black;}


main{display:flex;}
article{padding: 20px; background-color:pink; width: 65%;}
aside{padding: 20px; background-color: yellow; width: 35%;}

p{background-color: orange;
padding: 20px;
margin:0px;
margin-bottom: 30px;}

p.alt{background-color:purple;}

p.humungous{font-size: 50px;
line-height: 40px;}

h1{background-color: orange;
border:dotted 10px red;
padding: 20px;
margin: 20px;}


h1#myID{background-color:black;
  color: white;}
